In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
pd.set_option('display.max_columns',500)
df = pd.read_csv('~/Downloads/Dropout_Academic Success - Sheet1.csv')
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,5,9,127.3,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,3,3,142.5,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,9,9,124.8,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,5,3,119.6,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,9,9,141.5,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [2]:
df.duplicated().sum()

0

In [3]:
df.isnull().sum()

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance                      4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nationality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

In [5]:
df = df.rename(columns = {'Nacionality':'Nationality'})

In [8]:
df['Marital status'].value_counts()

1    3919
2     379
4      91
5      25
6       6
3       4
Name: Marital status, dtype: int64

In [9]:
df['Marital status'] = df['Marital status'].replace({1:'Single',2:'Married', 3:'Widower',
                                                     4:'Divorced', 5:'Facto Union', 6:'Legally Separated'})

In [10]:
print(df['Marital status'].value_counts())

Single               3919
Married               379
Divorced               91
Facto Union            25
Legally Separated       6
Widower                 4
Name: Marital status, dtype: int64

In [11]:
df['Application mode'].value_counts()

1     1708
17     872
39     785
43     312
44     213
7      139
18     124
42      77
51      59
16      38
53      35
15      30
5       16
10      10
2        3
57       1
26       1
27       1
Name: Application mode, dtype: int64

In [12]:
df['Application mode'] = df['Application mode'].replace({1:'1st phase',2:'Ordinance No. 612/93',
                                                         5:'1st phase - special contingent (Azores Island)',
                                                        7 : 'Holders of other higher courses',
                                                        10 : 'Ordinance No. 854-B/99',
                                                        15 : 'International student (bachelor)',
                                                        16 : '1st phase - special contingent (Madeira Island)',
                                                        17 : '2nd phase - general contingent',
                                                        18 : '3rd phase - general contingent',
                                                        26 :'Ordinance No. 533-A/99, item b2) (Different Plan)',
                                                        27 :'Ordinance No. 533-A/99, item b3 (Other Institution)',
                                                        39 : 'Over 23 years old',
                                                        42 : 'Transfer',
                                                        43 : 'Change of course',
                                                        44 : 'Technological specialization diploma holders',
                                                        51 : 'Change of institution/course', 
                                                        53 :'Short cycle diploma holders',
                                                        57 : 'Change of institution/course (International)'})

In [13]:
print(df['Application mode'].value_counts())

1st phase                                              1708
2nd phase - general contingent                          872
Over 23 years old                                       785
Change of course                                        312
Technological specialization diploma holders            213
Holders of other higher courses                         139
3rd phase - general contingent                          124
Transfer                                                 77
Change of institution/course                             59
1st phase - special contingent (Madeira Island)          38
Short cycle diploma holders                              35
International student (bachelor)                         30
1st phase - special contingent (Azores Island)           16
Ordinance No. 854-B/99                                   10
Ordinance No. 612/93                                      3
Change of institution/course (International)              1
Ordinance No. 533-A/99, item b2) (Different Plan)         1
Ordinance No. 533-A/99, item b3 (Other Institution)       1
Name: Application mode, dtype: int64

In [15]:
df['Application order'].value_counts()

1    3026
2     547
3     309
4     249
5     154
6     137
9       1
0       1
Name: Application order, dtype: int64

In [16]:
df['Application order'] = df['Application order'].replace({ 0: 'First Choice', 1:'Second Choice', 
                                                           2:'Third Choice', 3: 'Fourth Choice',
                                                           4: 'Fifth Choice', 5: 'Sixth Choice',
                                                           6: 'Seventh Choice', 7: 'Eigth Choice',
                                                           8: 'Ninth Choice', 9: 'Last Choice'})

In [17]:
print(df['Application order'].value_counts())

Second Choice     3026
Third Choice       547
Fourth Choice      309
Fifth Choice       249
Sixth Choice       154
Seventh Choice     137
Last Choice          1
First Choice         1
Name: Application order, dtype: int64

In [18]:
df['Course'].value_counts()

9500    766
9147    380
9238    355
9085    337
9773    331
9670    268
9991    268
9254    252
9070    226
171     215
8014    215
9003    210
9853    192
9119    170
9130    141
9556     86
33       12
Name: Course, dtype: int64

In [19]:
df['Course'] = df['Course'].replace({ 33:'Biofuel Production Technologies',
                                     171 : 'Animation and Multimedia Design',
                                    8014 : 'Social Service (evening attendance)',
                                     9003 : 'Agronomy',
                                    9070 : 'Communication Design',
                                    9085 : 'Veterinary Nursing',
                                    9119 : 'Informatics Engineering',
                                    9130 : 'Equinculture',
                                    9147 : 'Management',
                                    9238 : 'Social Service',
                                    9254 : 'Tourism',
                                    9500 : 'Nursing',
                                    9556 : 'Oral Hygiene',
                                    9670 : 'Advertising and Marketing Management',
                                    9773 : 'Journalism and Communication',
                                    9853 : 'Basic Education',
                                    9991 : 'Management (evening attendance)'})

In [20]:
print(df['Course'].value_counts())

Nursing                                 766
Management                              380
Social Service                          355
Veterinary Nursing                      337
Journalism and Communication            331
Advertising and Marketing Management    268
Management (evening attendance)         268
Tourism                                 252
Communication Design                    226
Animation and Multimedia Design         215
Social Service (evening attendance)     215
Agronomy                                210
Basic Education                         192
Informatics Engineering                 170
Equinculture                            141
Oral Hygiene                             86
Biofuel Production Technologies          12
Name: Course, dtype: int64

In [21]:
df = df.rename(columns= {'Daytime/evening attendance': 'Attendance'})

In [23]:
df['Attendance'].value_counts()

1    3941
0     483
Name: Attendance, dtype: int64

In [24]:
df['Attendance'] = df['Attendance'].replace({1:'Daytime',0:'Evening'})

In [25]:
print(df['Attendance'].value_counts())

Daytime    3941
Evening     483
Name: Attendance, dtype: int64

In [26]:
df['Previous qualification'].value_counts()

1     3717
39     219
19     162
3      126
12      45
40      40
42      36
2       23
6       16
9       11
4        8
38       7
43       6
10       4
15       2
5        1
14       1
Name: Previous qualification, dtype: int64

In [27]:
df['Previous qualification'] = df['Previous qualification'].replace({ 1 : 'Secondary education',
                                                                    2 : "Higher education - bachelor's degree",
                                                                    3 : 'Higher education - degree',
                                                                    4 : "Higher education - master's",
                                                                    5 : 'Higher education - doctorate',
                                                                    6 : 'Frequency of higher education',
                                                                    9 : '12th year of schooling - not completed',
                                                                    10 : '11th year of schooling - not completed',
                                                                    12 : 'Other - 11th year of schooling',
                                                                    14 : '10th year of schooling',
                                                                    15 : '10th year of schooling - not completed',
                                                                    19 : 'Basic education 3rd cycle (9th/10th/11th year) or equiv',
                                                                    38 : 'Basic education 2nd cycle (6th/7th/8th year) or equiv',
                                                                    39 : 'Technological specialization course',
                                                                    40 : 'Higher education - degree (1st cycle)',
                                                                    42 : 'Professional higher technical course',
                                                                    43 : 'Higher education - master (2nd cycle)'})

In [28]:
print(df['Previous qualification'].value_counts())

Secondary education                                        3717
Technological specialization course                         219
Basic education 3rd cycle (9th/10th/11th year) or equiv     162
Higher education - degree                                   126
Other - 11th year of schooling                               45
Higher education - degree (1st cycle)                        40
Professional higher technical course                         36
Higher education - bachelor's degree                         23
Frequency of higher education                                16
12th year of schooling - not completed                       11
Higher education - master's                                   8
Basic education 2nd cycle (6th/7th/8th year) or equiv         7
Higher education - master (2nd cycle)                         6
11th year of schooling - not completed                        4
10th year of schooling - not completed                        2
Higher education - doctorate                                  1
10th year of schooling                                        1
Name: Previous qualification, dtype: int64

In [29]:
df['Nationality'].value_counts()

1      4314
41       38
26       14
22       13
6        13
24        5
100       3
11        3
103       3
21        2
101       2
62        2
25        2
2         2
105       2
32        1
13        1
109       1
108       1
14        1
17        1
Name: Nationality, dtype: int64

In [30]:
df['Nationality'] = df['Nationality'].replace({ 1 : 'Portuguese', 
                                               2 : 'German',
                                                6 : 'Spanish',
                                                11 : 'Italian',
                                                13 : 'Dutch',
                                                14 : 'English',
                                                17 : 'Lithuanian',
                                                21 : 'Angolan',
                                                22 : 'Cape Verdean',
                                                24 : 'Guinean',
                                                25 : 'Mozambican',
                                                26 : 'Santomean',
                                                32 : 'Turkish',
                                                41 : 'Brazilian',
                                                62 : 'Romanian',
                                                100:'Moldova',
                                               101 : 'Mexican',
                                                103 : 'Ukrainian',
                                                105 : 'Russian',
                                                108 : 'Cuban',
                                                109 : 'Colombian'})

In [31]:
print(df['Nationality'].value_counts())

Portuguese      4314
Brazilian         38
Santomean         14
Cape Verdean      13
Spanish           13
Guinean            5
Moldova            3
Italian            3
Ukrainian          3
Angolan            2
Mexican            2
Romanian           2
Mozambican         2
German             2
Russian            2
Turkish            1
Dutch              1
Colombian          1
Cuban              1
English            1
Lithuanian         1
Name: Nationality, dtype: int64

In [32]:
df["Mother's qualification"].value_counts()

1     1069
37    1009
19     953
38     562
3      438
34     130
2       83
4       49
12      42
5       21
40       9
9        8
39       8
41       6
6        4
42       4
43       4
29       3
10       3
11       3
36       3
35       3
30       3
14       2
18       1
22       1
27       1
26       1
44       1
Name: Mother's qualification, dtype: int64

In [33]:
df["Mother's qualification"] = df["Mother's qualification"].replace({1 : 'Secondary Education - 12th Year of Schooling or Eq.',
                                                                     2 : "Higher Education - Bachelor's Degree",
                                                                    3 : 'Higher Education - Degree',
                                                                    4 : "Higher Education - Master's",
                                                                    5 : 'Higher Education - Doctorate',
                                                                    6 : 'Frequency of Higher Education',
                                                                    9 : '12th Year of Schooling - Not Completed',
                                                                    10 : '11th Year of Schooling - Not Completed',
                                                                    11 : '7th Year (Old)',
                                                                    12 : 'Other - 11th Year of Schooling',
                                                                    14 : '10th Year of Schooling',
                                                                    18 : 'General commerce course',
                                                                    19 : 'Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.', 
                                                                    22 : 'Technical-professional course',
                                                                    26 : '7th year of schooling',
                                                                    27 : '2nd cycle of the general high school course',
                                                                    29 : '9th Year of Schooling - Not Completed',
                                                                    30 : '8th year of schooling',
                                                                    34 : 'Unknown',
                                                                    35 : "Can't read or write",
                                                                    36 : 'Can read without having a 4th year of schooling',
                                                                    37 : 'Basic education 1st cycle (4th/5th year) or equiv.',
                                                                    38 : 'Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.', 
                                                                    39 : 'Technological specialization course',
                                                                    40 : 'Higher education - degree (1st cycle)',
                                                                    41 : 'Specialized higher studies course',
                                                                    42 : 'Professional higher technical course',
                                                                    43 : 'Higher Education - Master (2nd cycle)',
                                                                    44 : 'Higher Education - Doctorate (3rd cycle)'})

In [34]:
print(df["Mother's qualification"].value_counts())

Secondary Education - 12th Year of Schooling or Eq.         1069
Basic education 1st cycle (4th/5th year) or equiv.          1009
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.     953
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       562
Higher Education - Degree                                    438
Unknown                                                      130
Higher Education - Bachelor's Degree                          83
Higher Education - Master's                                   49
Other - 11th Year of Schooling                                42
Higher Education - Doctorate                                  21
Higher education - degree (1st cycle)                          9
12th Year of Schooling - Not Completed                         8
Technological specialization course                            8
Specialized higher studies course                              6
Frequency of Higher Education                                  4
Professional higher technical course                           4
Higher Education - Master (2nd cycle)                          4
9th Year of Schooling - Not Completed                          3
11th Year of Schooling - Not Completed                         3
7th Year (Old)                                                 3
Can read without having a 4th year of schooling                3
Can't read or write                                            3
8th year of schooling                                          3
10th Year of Schooling                                         2
General commerce course                                        1
Technical-professional course                                  1
2nd cycle of the general high school course                    1
7th year of schooling                                          1
Higher Education - Doctorate (3rd cycle)                       1
Name: Mother's qualification, dtype: int64

In [35]:
df["Father's qualification"].value_counts()

37    1209
19     968
1      904
38     702
3      282
34     112
2       68
4       39
12      38
39      20
5       18
11      10
36       8
9        5
40       5
22       4
30       4
14       4
29       3
35       2
41       2
43       2
10       2
6        2
26       2
25       1
27       1
33       1
44       1
20       1
42       1
18       1
13       1
31       1
Name: Father's qualification, dtype: int64

In [36]:
df["Father's qualification"] = df["Father's qualification"].replace({1 : "Secondary Education - 12th Year of Schooling or Eq.", 
                                                                     2 : "Higher Education - Bachelor's Degree",
                                                                     3 : "Higher Education - Degree",
                                                                        4 : "Higher Education - Master's",
                                                                        5 : "Higher Education - Doctorate",
                                                                        6 : "Frequency of Higher Education",
                                                                        9 : "12th Year of Schooling - Not Completed",
                                                                        10 : "11th Year of Schooling - Not Completed",
                                                                        11 : "7th Year (Old)",
                                                                        12 : "Other - 11th Year of Schooling",
                                                                        13 : "2nd year complementary high school course",
                                                                        14 : "10th Year of Schooling",
                                                                        18 : "General commerce course",
                                                                        19 : "Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.",
                                                                     20 : "Complementary High School Course",
                                                                        22 : 'Technical-professional course',
                                                                        25 : "Complementary High School Course - not concluded",
                                                                        26 : "7th year of schooling",
                                                                        27 : "2nd cycle of the general high school course",
                                                                        29 : "9th Year of Schooling - Not Completed",
                                                                        30 : "8th year of schooling",
                                                                        31 : "General Course of Administration and Commerce",
                                                                        33 : "Supplementary Accounting and Administration",
                                                                        34 : "Unknown",
                                                                        35 : "Can't read or write",
                                                                        36 : "Can read without having a 4th year of schooling",
                                                                        37 : "Basic education 1st cycle (4th/5th year) or equiv.",
                                                                        38 : "Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.", 
                                                                     39 : "Technological specialization course",
                                                                        40 : "Higher education - degree (1st cycle)",
                                                                        41 : "Specialized higher studies course",
                                                                        42 : "Professional higher technical course",
                                                                        43 : "Higher Education - Master (2nd cycle)",
                                                                        44 : 'Higher Education - Doctorate (3rd cycle)'})

In [37]:
print(df["Father's qualification"].value_counts())

Basic education 1st cycle (4th/5th year) or equiv.          1209
Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.     968
Secondary Education - 12th Year of Schooling or Eq.          904
Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.       702
Higher Education - Degree                                    282
Unknown                                                      112
Higher Education - Bachelor's Degree                          68
Higher Education - Master's                                   39
Other - 11th Year of Schooling                                38
Technological specialization course                           20
Higher Education - Doctorate                                  18
7th Year (Old)                                                10
Can read without having a 4th year of schooling                8
12th Year of Schooling - Not Completed                         5
Higher education - degree (1st cycle)                          5
Technical-professional course                                  4
8th year of schooling                                          4
10th Year of Schooling                                         4
9th Year of Schooling - Not Completed                          3
Can't read or write                                            2
Specialized higher studies course                              2
Higher Education - Master (2nd cycle)                          2
11th Year of Schooling - Not Completed                         2
Frequency of Higher Education                                  2
7th year of schooling                                          2
Complementary High School Course - not concluded               1
2nd cycle of the general high school course                    1
Supplementary Accounting and Administration                    1
Higher Education - Doctorate (3rd cycle)                       1
Complementary High School Course                               1
Professional higher technical course                           1
General commerce course                                        1
2nd year complementary high school course                      1
General Course of Administration and Commerce                  1
Name: Father's qualification, dtype: int64

In [38]:
df["Mother's occupation"].value_counts()

9      1577
4       817
5       530
3       351
2       318
7       272
0       144
1       102
6        91
90       70
8        36
191      26
99       17
194      11
141       8
123       7
144       6
175       5
192       5
193       4
134       4
10        4
143       3
151       3
132       3
152       2
122       2
153       2
173       1
125       1
131       1
171       1
Name: Mother's occupation, dtype: int64

In [40]:
df["Mother's occupation"] = df["Mother's occupation"].replace({0 : 'Student',
                                                                1 : 'Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers',
                                                                2 : 'Specialists in Intellectual and Scientific Activities',
                                                                3 : 'Intermediate Level Technicians and Professions',
                                                                4 : 'Administrative staff',
                                                                5 : 'Personal Services, Security and Safety Workers and Sellers',
                                                                6 : 'Farmers and Skilled Workers in Agriculture, Fisheries and Forestry',
                                                                7 : 'Skilled Workers in Industry, Construction and Craftsmen',
                                                                8 : 'Installation and Machine Operators and Assembly Workers',
                                                                9 : 'Unskilled Workers',
                                                                10 : 'Armed Forces Professions',
                                                                90 : 'Other Situation',
                                                                99 : 'blank',
                                                                122 : 'Health professionals',
                                                                123 : 'Teachers',
                                                                125 : 'Specialists in information and communication technologies (ICT)',
                                                                131 : 'Intermediate level science and engineering technicians and professions', 
                                                               132 : 'Technicians and professionals, of intermediate level of health',
                                                                134 : 'Intermediate level technicians from legal, social, sports, cultural',
                                                                141 : 'Office workers, secretaries in general and data processing operators', 
                                                               143 : 'Data, accounting, statistical, financial services and registry-related operators',
                                                                144 : 'Other administrative support staff',
                                                                151 : 'Personal service workers',
                                                                152 : 'Sellers',
                                                                153 : 'Personal care workers',
                                                                171 : 'Skilled construction workers',
                                                                173 : 'Skilled workers in printing, precision instrument manufacturing, jewelers, artisans', 
                                                                175 : 'Workers in food processing, woodworking, clothing and other industries and crafts',
                                                                191 : 'Cleaning workers',
                                                                192 : 'Unskilled workers in agriculture, animal production, fisheries and forestry',
                                                                193 : 'Unskilled workers in extractive industry, construction, manufacturing and transport',
                                                                194 : 'Meal preparation assistants'})

In [41]:
print(df["Mother's occupation"].value_counts())

Unskilled Workers                                                                                             1577
Administrative staff                                                                                           817
Personal Services, Security and Safety Workers and Sellers                                                     530
Intermediate Level Technicians and Professions                                                                 351
Specialists in Intellectual and Scientific Activities                                                          318
Skilled Workers in Industry, Construction and Craftsmen                                                        272
Student                                                                                                        144
Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers     102
Farmers and Skilled Workers in Agriculture, Fisheries and Forestry                                              91
Other Situation                                                                                                 70
Installation and Machine Operators and Assembly Workers                                                         36
Cleaning workers                                                                                                26
blank                                                                                                           17
Meal preparation assistants                                                                                     11
Office workers, secretaries in general and data processing operators                                             8
Teachers                                                                                                         7
Other administrative support staff                                                                               6
Workers in food processing, woodworking, clothing and other industries and crafts                                5
Unskilled workers in agriculture, animal production, fisheries and forestry                                      5
Unskilled workers in extractive industry, construction, manufacturing and transport                              4
Intermediate level technicians from legal, social, sports, cultural                                              4
Armed Forces Professions                                                                                         4
Data, accounting, statistical, financial services and registry-related operators                                 3
Personal service workers                                                                                         3
Technicians and professionals, of intermediate level of health                                                   3
Sellers                                                                                                          2
Health professionals                                                                                             2
Personal care workers                                                                                            2
Skilled workers in printing, precision instrument manufacturing, jewelers, artisans                              1
Specialists in information and communication technologies (ICT)                                                  1
Intermediate level science and engineering technicians and professions                                           1
Skilled construction workers                                                                                     1
Name: Mother's occupation, dtype: int64

In [43]:
df["Father's occupation"].value_counts()

9      1010
7       666
5       516
4       386
3       384
8       318
10      266
6       242
2       197
1       134
0       128
90       65
99       19
193      15
144       8
171       8
192       6
163       5
103       4
175       4
135       3
183       3
152       3
123       3
181       3
194       2
182       2
112       2
151       2
172       2
122       2
102       2
153       1
101       1
114       1
174       1
141       1
132       1
134       1
143       1
131       1
161       1
195       1
121       1
124       1
154       1
Name: Father's occupation, dtype: int64

In [44]:
df["Father's occupation"]= df["Father's occupation"].replace({ 0 : 'Student',
                                                                1 : 'Representatives of the Legislative Power, Executive Bodies, Directors, Directors and Executive Managers',
                                                                2 : 'Specialists in Intellectual and Scientific Activities',
                                                                3 : 'Intermediate Level Technicians and Professions',
                                                                4 : 'Administrative staff',
                                                                5 : 'Personal Services, Security and Safety Workers and Sellers',
                                                                6 : 'Farmers and Skilled Workers in Agriculture, Fisheries and Forestry',
                                                                7 : 'Skilled Workers in Industry, Construction and Craftsmen',
                                                                8 : 'Installation and Machine Operators and Assembly Workers',
                                                                9 : 'Unskilled Workers',
                                                                10 : 'Armed Forces Professions',
                                                                90 : 'Other Situation',
                                                                99 : 'blank',
                                                                101 : 'Armed Forces Officers',
                                                                102 : 'Armed Forces Sergeants',
                                                                103 : 'Other Armed Forces personnel',
                                                                112 : 'Directors of administrative and commercial services',
                                                                114 : 'Hotel, catering, trade and other services directors',
                                                                121 : 'Specialists in the physical sciences, mathematics, engineering and related techniques',
                                                                122 : 'Health professionals',
                                                                123 : 'Teachers',
                                                                124 : 'Specialists in finance, accounting, administrative organization, public and commercial relations',
                                                                131 : 'Intermediate level science and engineering technicians and professions',
                                                              132 : 'Technicians and professionals, of intermediate level of health',
                                                                134 : 'Intermediate level technicians from legal, social, sports, cultural and similar services',
                                                                135 : 'Information and communication technology technicians',
                                                                141 : 'Office workers, secretaries in general and data processing operators',
                                                              143 : 'Data, accounting, statistical, financial services and registry-related operators',
                                                                144 : 'Other administrative support staff',
                                                                151 : 'Personal service workers',
                                                                152 : 'Sellers',
                                                                153 : 'Personal care workers',
                                                                154 : 'Protection and security services personnel',
                                                                161 : 'Market-oriented farmers and skilled agricultural and animal production workers',
                                                                163 : 'Farmers, livestock keepers, fishermen, hunters and gatherers, subsistence',
                                                                171 : 'Skilled construction workers and the like, except electricians',
                                                                172 : 'Skilled workers in metallurgy, metalworking',
                                                                174 : 'Skilled workers in electricity and electronics',
                                                                175 : 'Workers in food processing, woodworking, clothing and other industries and crafts',
                                                                181 : 'Fixed plant and machine operators',
                                                                182 : 'Assembly workers',
                                                                183 : 'Vehicle drivers and mobile equipment operators',
                                                                192 : 'Unskilled workers in agriculture, animal production, fisheries and forestry',
                                                                193 : 'Unskilled workers in extractive industry, construction, manufacturing and transport',
                                                                194 : 'Meal preparation assistants',
                                                                195 : 'Street vendors and street service providers'})

In [45]:
print(df["Father's occupation"].value_counts())

Unskilled Workers                                                                                          1010
Skilled Workers in Industry, Construction and Craftsmen                                                     666
Personal Services, Security and Safety Workers and Sellers                                                  516
Administrative staff                                                                                        386
Intermediate Level Technicians and Professions                                                              384
Installation and Machine Operators and Assembly Workers                                                     318
Armed Forces Professions                                                                                    266
Farmers and Skilled Workers in Agriculture, Fisheries and Forestry                                          242
Specialists in Intellectual and Scientific Activities                                                       197
Representatives of the Legislative Power, Executive Bodies, Directors, Directors and Executive Managers     134
Student                                                                                                     128
Other Situation                                                                                              65
blank                                                                                                        19
Unskilled workers in extractive industry, construction, manufacturing and transport                          15
Other administrative support staff                                                                            8
Skilled construction workers and the like, except electricians                                                8
Unskilled workers in agriculture, animal production, fisheries and forestry                                   6
Farmers, livestock keepers, fishermen, hunters and gatherers, subsistence                                     5
Other Armed Forces personnel                                                                                  4
Workers in food processing, woodworking, clothing and other industries and crafts                             4
Information and communication technology technicians                                                          3
Vehicle drivers and mobile equipment operators                                                                3
Sellers                                                                                                       3
Teachers                                                                                                      3
Fixed plant and machine operators                                                                             3
Meal preparation assistants                                                                                   2
Assembly workers                                                                                              2
Directors of administrative and commercial services                                                           2
Personal service workers                                                                                      2
Skilled workers in metallurgy, metalworking                                                                   2
Health professionals                                                                                          2
Armed Forces Sergeants                                                                                        2
Personal care workers                                                                                         1
Armed Forces Officers                                                                                         1
Hotel, catering, trade and other services directors                                                           1
Skilled workers in electricity and electronics                                                                1
Office workers, secretaries in general and data processing operators                                          1
Technicians and professionals, of intermediate level of health                                                1
Intermediate level technicians from legal, social, sports, cultural and similar services                      1
Data, accounting, statistical, financial services and registry-related operators                              1
Intermediate level science and engineering technicians and professions                                        1
Market-oriented farmers and skilled agricultural and animal production workers                                1
Street vendors and street service providers                                                                   1
Specialists in the physical sciences, mathematics, engineering and related techniques                         1
Specialists in finance, accounting, administrative organization, public and commercial relations              1
Protection and security services personnel                                                                    1
Name: Father's occupation, dtype: int64

In [54]:
columns = ['Displaced','Educational special needs','Debtor','Tuition fees up to date','Scholarship holder','International']
df[columns] = df[columns].replace({1: 'Yes',0:'No'})

In [56]:
df['Gender'].value_counts()

0    2868
1    1556
Name: Gender, dtype: int64

In [57]:
df['Gender'] = df['Gender'].replace({1:'Male', 0:'Female'})

In [58]:
print(df['Gender'].value_counts())

Female    2868
Male      1556
Name: Gender, dtype: int64

In [61]:
df = df.rename(columns = {'Unemployment rate':'Unemployment rate (%)',
                    'Inflation rate':'Inflation rate (%)'})

In [62]:
df = df.rename(columns = {'Target':'Course Category'})

In [64]:
df = df.to_csv("~/Downloads/academicsuccess_updated.csv")